@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-light: #fff;
    --color-dark: #1d2123;
  }
}

body {
  color: var(--color-light);
  background-color: var(--color-dark);
}
